{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<div class="row" ng-app="mlt_app" ng-controller="all_jobs_controller as jc" ng-cloak>
  {[ jc.dataset_jobs = (jobs | filter:is_dataset);'' ]}
  {[ jc.model_jobs = (jobs | filter:is_model | filter:not_running);'' ]}
  {[ jc.running_jobs = (jobs | filter:is_running);'' ]}
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib">
            <i class="ti-layers-alt text-success border-success"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-heading">GPUs</div>
              <div class="stat-text">
                {% if total_gpu_count %}
                {{remaining_gpu_count}}/{{total_gpu_count}} available
                {% else %}
                0/0 available
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib">
            <i class="ti-server text-primary border-primary"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-heading">Datasets</div>
              <div class="stat-digit">
                {[ jc.dataset_jobs.length ]}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib">
            <i class="ti-control-shuffle text-muted"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-heading">Models</div>
              <div class="stat-text">
                {[ jc.model_jobs.length ]}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="stat-widget-four">
          <div class="stat-icon dib">
            <i class="ti-stats-up text-warning border-warning"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-heading">Training</div>
              <div class="stat-text">
                {[ jc.running_jobs.length ]}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
