{% from "helper.html" import print_flashes %}

{% extends "mlt_layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/time_filters.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/angular-1.5.3.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ui-bootstrap-tpls-1.3.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ngStorage-0.3.10.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery.sparkline-2.1.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home_app.js', ver=dir_hash) }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/table_selection.css', ver=dir_hash) }}">

{% with namespace = "/jobs" %}
    {% set room = "job_management" %}
    {% include 'socketio.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="row">
    {% if total_gpu_count %}
    <div id="gpus-available" class="pull-right" style="margin-top:20px">
        {{remaining_gpu_count}}/{{total_gpu_count}}
        GPU{{'s' if total_gpu_count != 1 }} available
    </div>
    {% endif %}
</div>

{{ print_flashes() }}

<style>
 #ruler { visibility: hidden; white-space: nowrap; }
 .dropdown-menu {
     width: 200px !important;
 }
 .input-group {
     width: 300px;
 }
</style>
<div class="row">
            <div class="gpu-utilization-info" style="display:none;"></div>
        </div>
<div class="row">
    <div class="col">

<span id="ruler"></span>
<div class="row"
     id="all-jobs"
     ng-app="home_app"
     ng-controller="all_jobs_controller as jc"
     ng-click="deselect_all()"
     ng-cloak>
    {[jc.running_jobs = (jobs | filter:is_running);'']}
    {[jc.dataset_jobs = (jobs | filter:is_dataset);'']}
    {[jc.model_jobs = (jobs | filter:is_model);'']}
    {[jc.pretrained_model_jobs = (jobs | filter:is_pretrained_model);'']}
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-server text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Datasets</div>
                            <div class="stat-text">({[jc.dataset_jobs.length]})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-stats-up text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Training</div>
                            <div class="stat-text">({[jc.model_jobs.length]})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/home/upload_pretrained_model.html" %}
    </div>
</div>

{% endblock %}
