{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block page_title %} Models {% endblock %}

{% block page_list %}
<li><a href="{{url_for('digits.views.home')}}"> Dashboard </a></li>
<li class="active"> Models </li>
{% endblock %}

{% block content %}

<div class="row" ng-app="mlt_app" ng-controller="all_jobs_controller as jc" ng-cloak>
  {[ jc.model_jobs = (jobs | filter:is_model | filter:not_running);'' ]}
  <div ng-controller="models_controller">
    <div class="animated fadeIn">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <col ng-repeat="field in model_fields | filter:show(true)"
                   ng-style="$index == 0 ? '{}' : {'width':visualLength(field.name, field.min_width) + 'px'}">
              <thead>
                <tr>
                  <th scope="col" ng-repeat="field in model_fields" ng-if="field.show">
                    {[ field.name ]}
                  </th>
                </tr>
              </thead>
              <tbody ng-if="jc.model_jobs.length">
                <tr ng-repeat-start="job in jc.model_jobs" ng-hide="true"></tr>
                <tr ng-attr-id="{[ job.id ]}">
                  <td>
                    <dg-name></dg-name>
                  </td>
                  <td>{[ job.status ]}</td>
                  <td ng-if="job.status == 'Done'">
                    {[ (job['accuracy (val) last'] * 100).toFixed(2) ]}
                  </td>
                  <td ng-if="job.status != 'Done'">
                    N/A
                  </td>
                  <td>
                    {[ print_time_diff_terse(job.elapsed) ]}
                  </td>
                  <td start="{[ job.submitted ]}">
                    <div ng-if="!is_today(job.submitted)" title="{[ job.submitted * 1000 | date:'medium' ]}">
                      {[ job.submitted * 1000 | date:'MMM d, yy' ]}
                    </div>
                    <div ng-if="is_today(job.submitted)" title="{[ job.submitted * 1000 | date:'medium' ]}">
                      {[ job.submitted * 1000 | date:'h:mm a' ]}
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
