{% from "helper.html" import serve_file %}

{% extends "mlt_job.html" %}

{% block job_content %}
{% set task = job.train_task() %}

<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-flat-color-2">
      <div class="card-body pb-0">
        <div class="text-light font-large" align="center">
          <span class="time_elapsed">{{ job.runtime_of_tasks()|print_time_diff }}</span>
          <p class="text-light font-large">Elapsed Time</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-flat-color-3">
      <div class="card-body pb-0">
        <div class="text-light font-large" align="center">
          <span class="accuracy">{{ job.train_task().get_accuracy() }}</span>%
          <p class="text-light font-large">Accuracy</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-flat-color-1">
      <div class="card-body pb-0">
        <div id="images_processed" class="images_processed">
          <div class="text-light font-large" align="center">
            {% set images = job.train_task().images_processed() %}
            {% set total = job.train_task().total_images() %}
            <span class="images_count">{{ images }}</span> /
            <span class="images_total">{{ total }}</span>
            <p class="text-light font-large">Images processed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-flat-color-5">
      <div class="card-body pb-0">
        <div class="text-light font-large" align="center">
          {% set images_per_sec = job.train_task().images_processed_per_sec() %}
          <span class="images_per_sec">{{ images_per_sec }}</span>
          <p class="text-light font-large">Images/sec</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gpu-utilization-info" style="display:none;">
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class='text-center' data-toggle="collapse" data-target="#info"> Info</h4>
                <div id="info" class="collapse">
                <dt>Job Directory</dt>
                <dd>{{ job.dir() }}</dd>
                <dt>Disk Size</dt>
                <dd>{{job.disk_size_fmt()}}</dd>
                {% for key,value in task.get_model_files().items() %}
                <dt>{{key}}</dt>
                <dd>{{serve_file(task, value)}}</dd>
                {% endfor %}
                {% if task.log_file %}
                <dt>Raw {{task.get_framework_id()}} output</dt>
                <dd>{{serve_file(task, task.log_file)}}</dd>
                {% endif %}
                {% if task.pretrained_model %}
                <dt>Pretrained Model</dt>
                <dd>{{task.pretrained_model}}</dd>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

            <h4 class='text-center' data-toggle="collapse" data-target="#dataset-summary">Dataset</h4>
            <div id="dataset-summary" class="collapse"></div>
            {% if job.dataset %}
            <script>
        jQuery(document).ready(function($) {
            $.ajax("{{url_for('digits.dataset.views.summary', job_id=job.dataset.id())}}",
            {
                type: "GET",
                }
            )
            .done(function(data) {
                $("#dataset-summary").html(data);
                })
            .fail(function(data) {
                $("#dataset-summary").html("");
                errorAlert(data);
                });
        });
            </script>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>



<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <div id="combined-graph" class="combined-graph"
                    style="height:400px;width:100%;background:white;display:none;"> </div>

                <br>
                {% set combined_graph_data = job.train_task().combined_graph_data() %}
                {% if combined_graph_data %}

                <script>
                drawCombinedGraph({% autoescape false %}{{combined_graph_data}}{% endautoescape %});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div id="lr-graph" class="lr-graph"
                style="height:300px;width:100%;background:white;display:none;"></div>
                {% set lr_graph_data = job.train_task().lr_graph_data() %}
                {% if lr_graph_data %}
                <script>
                    drawLRGraph({% autoescape false %}{{lr_graph_data}}{% endautoescape %});
                </script>
                {% endif %}

                {% set task = job.train_task() %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card" {{'style=display:none;' if not task.status == 'D' else ''}}>
            <div class="card-body card-block">
                <h1>Inference</h1>
                <a href="#" class="btn btn-info" onClick="return tensorboardOpen();">Tensorboard</a>
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <label for="image_path" class="control-label">Image Path</label>
                    <span name="image_path_explanation"
                          class="explanation-tooltip glyphicon glyphicon-question-sign"
                          data-container="body"
                          title="Can be a path on the server's filesystem, or a URL.">
                    </span>
                    <input type="text" id="image_path" name="image_path" class="form-control autocomplete_path">
                </div>
                <div>
                    <label for="image_file" class="control-label">Upload image</label>
                    <div class="form-group cl-upload-files">
                                    <input class="form-control" type="file" id="image_file" name="image_file" >

                    </div>
                </div>
<script type="text/javascript">
function tensorboardOpen() {
  return false
}
  jQuery(document).ready(function($) {
    // When you fill in one field, the other gets blanked out
    $("#image_path").change(function() { $("#image_file").val(""); });
    $("#image_file").change(function() { $("#image_path").val(""); });
  })
</script>
                <div class="form-group">
                    <label for="show_visualizations">
                        <input id="show_visualizations" name="show_visualizations" type="checkbox" value="y">
                        Show visualizations and statistics
                    </label>
                    <span name="show_visualizations_explanation"
                          class="explanation-tooltip glyphicon glyphicon-question-sign"
                          data-container="body"
                          title="For each layer in the network, show statistics for the weights/activations and attempt to represent the data visually. Can delay classification considerably."
                    ></span>
                </div>
                <button name="classify-one-btn"
                        type="submit"
                        formaction="{{url_for('digits.model.images.classification.views.classify_one', job_id=job.id())}}"
                        formmethod="post"
                        formenctype="multipart/form-data"
                        formtarget="_blank"
                        class="btn btn-primary">
                    Classify One
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$('#nuance_form').submit(function() {
    $('#nuance_modal').modal('toggle');
});
</script>
{% endblock %}
