{% from "helper.html" import print_flashes %}
{% from "helper.html" import serve_file %}

{% extends "mlt_job.html" %}

{% block job_content %}
{% set task = job.train_task() %}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <dt>Job Directory</dt>
                <dd>{{ job.dir() }}</dd>
                <dt>Disk Size</dt>
                <dd>{{job.disk_size_fmt()}}</dd>
                {% for key,value in task.get_model_files().items() %}
                <dt>{{key}}</dt>
                <dd>{{serve_file(task, value)}}</dd>
                {% endfor %}
                {% if task.log_file %}
                <dt>Raw {{task.get_framework_id()}} output</dt>
                <dd>{{serve_file(task, task.log_file)}}</dd>
                {% endif %}
                {% if task.pretrained_model %}
                <dt>Pretrained Model</dt>
                <dd>{{task.pretrained_model}}</dd>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

            <h4 class='text-center'>Dataset</h4>
            <div id="dataset-summary"></div>
            {% if job.dataset %}
            <script>
            $.ajax("{{url_for('digits.dataset.views.summary', job_id=job.dataset.id())}}",
            {
                type: "GET",
                }
            )
            .done(function(data) {
                $("#dataset-summary").html(data);
                })
            .fail(function(data) {
                $("#dataset-summary").html("");
                errorAlert(data);
                });
            </script>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>



<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <div id="combined-graph" class="combined-graph"
                    style="height:400px;width:100%;background:white;display:none;"> </div>

                <br>
                {% set combined_graph_data = job.train_task().combined_graph_data() %}
                {% if combined_graph_data %}

                <script>
                drawCombinedGraph({% autoescape false %}{{combined_graph_data}}{% endautoescape %});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
             <div id="lr-graph" class="lr-graph"
                style="height:300px;width:100%;background:white;display:none;"></div>
            {% set lr_graph_data = job.train_task().lr_graph_data() %}
            {% if lr_graph_data %}
            <script>
                drawLRGraph({% autoescape false %}{{lr_graph_data}}{% endautoescape %});
            </script>
            {% endif %}

            {% set task = job.train_task() %}
            </div>
        </div>
    </div>
</div>

<script>
$('#nuance_form').submit(function() {
    $('#nuance_modal').modal('toggle');
});
</script>
{% endblock %}