{% from "helper.html" import print_flashes %}

{% extends "mlt_layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/time_filters.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/angular-1.5.3.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ui-bootstrap-tpls-1.3.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ngStorage-0.3.10.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery.sparkline-2.1.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home_app.js', ver=dir_hash) }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='mlt/js/lib/data-table/datatables.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mlt/js/lib/data-table/dataTables.bootstrap.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mlt/js/lib/data-table/dataTables.buttons.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mlt/js/lib/data-table/datatables-init.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mlt/js/lib/data-table/jquery.dataTables.min.js', ver=dir_hash) }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='mlt/css/lib/datatable/dataTables.bootstrap.min.css', ver=dir_hash) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mlt/css/lib/datatable/buttons.dataTables.min.css', ver=dir_hash) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mlt/css/lib/datatable/buttons.bootstrap.min.css', ver=dir_hash) }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/table_selection.css', ver=dir_hash) }}">

{% with namespace = "/jobs" %}
    {% set room = "job_management" %}
    {% include 'socketio.html' %}
{% endwith %}
{% endblock %}

{% block pagetitle %}
Training
{% endblock %}

{% block pagelist %}
<li class="active">Training</li>
{% endblock %}


{% block content %}
{{ print_flashes() }}

<style>
 #ruler { visibility: hidden; white-space: nowrap; }
 .dropdown-menu {
     width: 200px !important;
 }
 .input-group {
     width: 300px;
 }
</style>
<div class="row"
     id="all-jobs"
     ng-app="home_app"
     ng-controller="all_jobs_controller as jc"
     ng-click="deselect_all()"
     ng-cloak>
    <div class="col">
        <section class="card">
        {[jc.model_jobs = (jobs | filter:is_model);'']}
        <div ng-if="jc.model_jobs.length">
        <div ng-controller="models_controller as c">
            {[jobs = (jc.model_jobs | filter:search_text | sort_with_empty_at_end:this:jc.storage.show_groups);'']}
            <div class="card-header">
            <h5 class="card-title">
                    Training Jobs
                <small>
                        ({[jobs.length]})
                </small>
            </h5>
            </div>
            <div class="card-body">
                <!-- Filter -->
                <form class="float-right">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" placeholder="Filter" ng-model="search_text">
                    </div>
                </div>
                </form>
                {[enabled = any_selected();'']}
                {[group_enabled = jc.storage.show_groups && enabled;'']}
                <div>
                <a class="btn btn-xs btn-danger"
                   ng-disabled="!enabled"
                   ng-click="!enabled || delete_jobs();">
                    Delete
                </a>
                </div>

                {[ colspan = (storage.model_fields | filter:show(true)).length + (storage.model_output_fields | filter:show(true)).length;'' ]}
                <!-- Table -->
                <table id="models-table"
                   ng-mouseleave="mouseleave()"
                   class="table table-bordered table-striped selectable"
                    width="100%">
                <col ng-repeat="field in storage.model_fields | filter:show(true)"
                     ng-style="$index == 0 ? '{}' : {'width':visualLength(field.name, field.min_width) + 'px'}">
                <col ng-repeat="field in storage.model_output_fields | filter:show(true)"
                     ng-style="{'width':visualLength(field.name) + 'px'}">
                <thead>
                <tr>
                    <th ng-repeat="field in storage.model_fields | filter:show(true)" class="sortable">
                        <div ng-click="change_sorting(field.name, $event)">
                                {[ field.name ]}
                            <i class="glyphicon"
                               ng-class="get_icon(field.name)" style="width:14px">
                            </i>
                        </div>
                    </th>
                    <th ng-repeat="field in storage.model_output_fields | filter:show(true)">
                        <div ng-click="change_sorting(field.name, $event)">
                                {[ field.name ]}
                            <i class="glyphicon"
                               ng-class="get_icon(field.name)" style="width:14px">
                            </i>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody ng-if="jobs.length">
                <tr ng-repeat-start="job in jobs"
                    ng-hide="true">
                </tr>

                <!-- job rows -->
                <tr ng-attr-id="{[ job.id ]}"
                    ng-hide="c.hideRows[job.group]"
                    ng-mousedown="mousedown($index, $event)"
                    ng-mousemove="mousemove($index, $event)"
                    ng-mouseup="mouseup($index, $event)"
                    ng-click="click($index, $event)"
                    ng-keydown="keydown($event)"
                    ng-class="{selected:job.selected}">
                    <td ng-if="storage.model_fields[0].show">
                        <dg-name></dg-name>
                    </td>
                    <td ng-if="storage.model_fields[1].show">
                        {[ job.id ]}
                    </td>
                    <td ng-if="storage.model_fields[2].show">
                        <small>{[ job.extension ]}</small>
                    </td>
                    <td ng-if="storage.model_fields[3].show">
                        <dg-framework></dg-framework>
                    </td>
                    <td ng-if="storage.model_fields[4].show"
                        class="text-{[job.status_css]}">
                        {[ job.status ]}
                    </td>
                    <td ng-if="storage.model_fields[5].show"
                        start="{[job.elapsed]}">
                        <small title="{[ print_time_diff(job.elapsed) ]}">
                            {[ print_time_diff_terse(job.elapsed) ]}
                        </small>
                    </td>
                    <td ng-if="storage.model_fields[6].show"
                        start="{[job.submitted]}">
                        <small ng-if="!is_today(job.submitted)"
                               title="{[ job.submitted * 1000 | date:'medium' ]}">
                            {[ job.submitted * 1000 | date:'MMM d, yy' ]}
                        </small>
                        <small ng-if="is_today(job.submitted)"
                               title="{[ job.submitted * 1000 | date:'medium' ]}">
                            {[ job.submitted * 1000 | date:'h:mm a' ]}
                        </small>
                    </td>

                    <td ng-repeat="field in storage.model_output_fields | filter:show(true)">
                        <small title="{[ job[field.name] ]}">
                            {[ job[field.name] | precision:2 ]}
                        </small>
                    </td>
                </tr>
                <tr ng-repeat-end
                    ng-hide="true">
                </tr>
                </tbody>
                <tbody ng-if="jobs.length == 0">
                <tr>
                    <td colspan="{[fields.length]}">
                        <h5>
                            No Running Jobs
                        </h5>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>

        <div ng-if="jc.model_jobs.length == 0">
        <div class="card-header">
            <h5 class="card-title">
                No Train Jobs
            </h5>
        </div>
        </div>
        </section>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('digits.model.images.classification.views.new') }}';">New Training</a></button>
<br>
<br>

<script type="text/javascript">
    $(document).ready(function() {
       $('#bootstrap-data-table-export').DataTable();
    });
</script>
{% endblock %}