{% extends "layout.html" %}
{% block headertitle %}
    <title>Train</title>
{% endblock %}

{% block pagetitle %}
    <h1>Train</h1>
{% endblock %}

{% block pagelist %}
    <li><a href="{{url_for('web.views.home')}}">Dashboard</a></li>
    <li class="active">Train</li>
{% endblock %}

{% block rightcontent %}
<!-- Images -->
<div class="col-lg-4 col-md-6">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-dark">
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-light display-6">Image</h2>
                        <p>images</p>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{{ url_for('web.train.views.image_classification_new') }}"> <i class="fa fa-photo"></i> Classification </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-crosshairs"></i> Object Detection </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-magic"></i> Segmentation </a>
                </li>
            </ul>

        </section>
    </aside>
</div>

<!-- Video -->
<div class="col-lg-4 col-md-6">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-info">
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-dark display-6">Video</h2>
                        <p>Video</p>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <!--
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-envelope-o"></i> Classification </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-tasks"></i> Segmentation </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-bell-o"></i> Object Detection </a>
                </li>
                -->
            </ul>

        </section>
    </aside>
</div>

<!-- Text -->
<div class="col-lg-4 col-md-6">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-light">
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-dark display-6">Text</h2>
                        <p>Texts</p>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <!--
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-envelope-o"></i> Classification </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-tasks"></i> Segmentation </a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-bell-o"></i> Object Detection </a>
                </li>
                -->
            </ul>

        </section>
    </aside>
</div>
{% endblock %}
