{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}
{% block headertitle %}
    <title>Train</title>
{% endblock %}

{% block pagetitle %}
    <h1>Image Classification</h1>
{% endblock %}

{% block pagelist %}
  <li><a href="{{url_for('web.views.home')}}">Dashboard</a></li>
  <li><a href="{{url_for('web.models.views.summary')}}">Train</a></li>
  <li>Image</li>
  <li class="active">Classification</li>
{% endblock %}

{% block rightcontent %}
<form onsubmit="syncAceEditor();" id="model-form" action="{{url_for('web.models.images.classification.views.create')}}" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-sm-4">
            <div class="animated fadeIn">
                <div class="form-group{{mark_errors([form.dataset])}}">
                    {{form.dataset.label}}
                    {{form.dataset.tooltip}}
                    {{form.dataset(class='form-control', size=5)}}
                    <div id="dataset-summary"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="animated fadeIn">
                <h4>Solver Options</h4>
                <div class="form-group{{mark_errors([form.train_epochs])}}">
                    {{form.train_epochs.label}}
                    {{form.train_epochs.tooltip}}
                    {{form.train_epochs(class='form-control')}}
                </div>
                <div class="form-group{{mark_errors([form.snapshot_interval])}}">
                    {{form.snapshot_interval.label}}
                    {{form.snapshot_interval.tooltip}}
                    {{form.snapshot_interval(class='form-control')}}
                </div>
                <div class="form-group{{mark_errors([form.val_interval])}}">
                    {{form.val_interval.label}}
                    {{form.val_interval.tooltip}}
                    {{form.val_interval(class='form-control')}}
                </div>
                <div class="form-group{{mark_errors([form.val_interval])}}" id="timeline-traces" style="display:none;">
                    {{form.traces_interval.label}}
                    {{form.traces_interval.tooltip}}
                    {{form.traces_interval(class='form-control')}}
                </div>
                <div class="form-group{{mark_errors([form.batch_size])}}">
                    {{form.batch_size.label}}
                    {{form.batch_size.tooltip}}
                    <small class="pull-right">
                        {{form.batch_size.small_text}}
                    </small>
                    {{form.batch_size(class='form-control', placeholder='[network defaults]')}}
                </div>
                <div class="form-group{{mark_errors([form.learning_rate])}}">
                    {{form.learning_rate.label}}
                    {{form.learning_rate.tooltip}}
                    <small class="pull-right">
                        {{form.learning_rate.small_text}}
                    </small>
                    {{form.learning_rate(class='form-control learning-rate-option')}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <script>
                var frameworks = {};
                {% for fw in frameworks %}
                framework = {
                    name: '{{ fw.get_name() }}',
                    supported_timeline_traces: '{{ fw.supports_timeline_traces() }}' == 'True',
                };
                frameworks['{{ fw.get_id() }}'] = framework;
                {% endfor %}
            </script>
            <ul class="nav nav-tabs" id="network-tabs">
                <li class="active"><a href="#network-tab-standard" data-toggle="tab">Standard Networks</a></li>
                <li><a href="#network-tab-custom" data-toggle="tab">Custom Network</a></li>
            </ul>
            <div class="tab-content well">
                <div id="network-tab-standard" class="tab-pane active">
                    {% include "models/images/classification/network_tab_standard.html" %}
                </div>

                <script>
                    $("#network-tab-standard .btn.btn-sm").css('visibility', 'hidden');
                    var $stdtab_prev_clicked_tr = null;
                    $("input:radio[name=standard_networks]").click(function(){
                        $(this).parents('tr').find(".btn.btn-sm").css('visibility', 'visible');
                        $stdtab_prev_clicked_tr = $(this).parents('tr');
                    });

                    if($("input:radio[name=standard_networks]").is(":checked")) {
                        $stdtab_prev_clicked_tr = $("input:radio[name=standard_networks]:checked").parents('tr');
                        $stdtab_prev_clicked_tr.find(".btn.btn-sm").css('visibility', visible');
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            <input type="submit" name="create-model" class="btn btn-primary" value="Create">
        </div>
    </div>
</form>
{% endblock %}
