<table class="table table-bordered table-striped list_group selectable"
       style="word-wrap: break-word"
       width="100%">
    <thread>
        <tr>
            <th>Name</th>
            <th>Models</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>ResNet</td>
            <td>ResNet-50</td>
        </tr>
            <tr>
            <td>GoogleNet</td>
            <td>GoogleNet</td>
        </tr>
            <tr>
            <td>VGGNet</td>
            <td>VGGNet</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-outline-primary btn-sm">Download</button>