{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}
{% block headertitle %}
    <title>Train</title>
{% endblock %}

{% block pagetitle %}
    <h1>Image Classification</h1>
{% endblock %}

{% block pagelist %}
  <li><a href="{{url_for('web.views.home')}}">Dashboard</a></li>
  <li><a href="{{url_for('web.train.views.summary')}}">Train</a></li>
  <li>Image</li>
  <li class="active">Classification</li>
{% endblock %}

{% block rightcontent %}
<form onsubmit="syncAceEditor();" id="model-form" action="{{url_for('web.train.views.image_classification_create')}}" enctype="multipart/form-data" method="post">
    <div class="form-group{{mark_errors([form.train_epochs])}}">
        {{form.train_epochs.label}}
        {{form.train_epochs.tooltip}}
        {{form.train_epochs(class='form-control')}}
    </div>
    <input type="submit" name="create-model" class="btn btn-primary" value="Create">
</form>
{% endblock %}
