{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}
{% block headertitle %}
    <title>Train</title>
{% endblock %}

{% block pagetitle %}
    <h1>Train</h1>
{% endblock %}

{% block pagelist %}
    <li><a href="{{url_for('web.views.home')}}">Dashboard</a></li>
    <li><a href="{{ url_for('web.train.views.summary') }}">Train</a></li>
    <li>Image</li>
    <li class="active">Classification</li>
{% endblock %}

{% block rightcontent %}

<script>
function syncAceEditor(){
    // Syncs (copies) the ace editor's contents to the custom_network flask container
    $("textarea#custom_network").val(editor.getValue());
}
</script>

<form onsubmit="syncAceEditor();" id="model-form" action="{{url_for('web.train.views.image_segmentation_new')}}"
      enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <div class="form-group{{mark_errors([form.dataset])}}">
                    {{form.dataset.label}}
                    {{form.dataset.tooltip}}

                    <div id="dataset-summary"></div>
                </div>
            </div>
            <div class="col" id="python-layers">
                <div class="well">

                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}